.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid purple;
    border-radius: 10px;
    color: wheat;
}

@media (min-width: 600px) {
    .container {
        max-width: 65%;
    }
}

.display, .buttonGroup {
    width: 90%;
    margin: 1em;
    border-radius: 10px;
}

.display, .input {
    color: purple;
    background-color: wheat;
    font-weight: bold;
}

.input {
    height: 2em;
}

.display {
    font-size: 2em;
}


.buttonGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid wheat;
}

.buttonGroup button {
    width: 30%;
    margin: 1em;
    padding: 0.5em;
    background-color: purple;
    color: inherit;
    font-weight: bold;
    border: 1px solid wheat;
}


.buttonGroup button,
.input {
    border-radius: 5px;
}

.error {
    color: #9059c7;
}

button:disabled {
    opacity: 0.5;
}